@charset "UTF-8";

/* 共通部分
-------------------------*/
html {
  font-size: 100%;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* HOME
--------------- */
#home {
  background-image: url(../images/top-bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* header
--------------------*/

.logo {
  margin-top: 1rem;
}

.main-nav {
  display: flex;
  font-size: 1rem;
  margin-top: 2rem;
  list-style: none;
}
.main-nav li {
  margin-left: 18px;
}
.main-nav a {
  display: inline-block;
  position: relative;
  color: #fff;
}
.main-nav a::after {
  position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #fff;
	transition: all 0.3s ease 0s;
}
.main-nav a:hover {
  cursor: pointer;
}
.main-nav a:hover::after {
  width: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 4%;
}

.globalMenuSp {
  display: none;
}

/* HOME
-----------------------------*/
.top-content {
  text-align: center;
}

.top-logo {
  margin: 0 auto;
  margin-top: 18vh;
  width: 18rem;
}

/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
/*  z-index: 4; */
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--facebook {
  background: #000;
  color: #fff;
}
.social-icon--facebook:hover {
  background: #1778f2;
}
.social-icon--facebook .tooltip {
  background: #1778f2;
  color: currentColor;
}
.social-icon--facebook .tooltip:after {
  border-top-color: #1778f2;
}
.social-icon--instagram {
  background: #000;
  color: #fff;
}
.social-icon--instagram:hover {
  background: #d6249f;
}
.social-icon--instagram .tooltip {
  background: #d6249f;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #d6249f;
}
.social-icon--line {
  background: #000;
  color: #fff;
}
.social-icon--line:hover {
  background: #00b900;
}
.social-icon--line .tooltip {
  background: #00b900;
  color: currentColor;
}
.social-icon--line .tooltip:after {
  border-top-color: #00b900;
}
.social-icon--shop {
  background: #000;
  color: #fff;
}
.social-icon--shop:hover {
  background: #fd9535;
}
.social-icon--shop .tooltip {
  background: #fd9535;
  color: currentColor;
}
.social-icon--shop .tooltip:after {
  border-top-color: #fd9535;
}
.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}


/*スクロールボタンの指定*/
.scroll {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.scroll a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 0 0 50px;
  /*矢印を作成する*/
}
.scroll a:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  animation: move 2s infinite;
}

/*矢印をアニメーションする*/
@keyframes move {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  20% {
    transform: rotate(45deg) translate(10px, 10px);
  }
  40% {
    transform: rotate(45deg) translate(0, 0);
  }
}

.message {
  width: 60vw;
  height: 12rem;
  padding: 5% 10%;
  margin: 2rem auto;
  background: rgba(253,239,242,0.5);
  border-radius: 64% 36% 65% 35% / 34% 40% 60% 66%;
}

.section-container {
  margin: 2rem 10% 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section-even {
  flex-direction: row-reverse;
}
.section-image {
  width: 7.5rem;
  margin: 0 5%;
}
.section-container h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}


/* ボタン */
.button {
  font-size: 1.5rem;
  color: #432;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin: auto;
  transition: .3s;
}
.button:hover {
  color: #fff;
  background: #000;
}

.button-area {
  text-align: center;
  margin-top: 0.5rem;
/*  z-index: 4; */
}



/* ABOUT
--------------------------- */
#header-about {
  background: #000;
  height: 6rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
#about p {
  padding: 0 1rem;
}
.page-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: normal;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    background-image: url("../images/logo-color.svg");
    background-size: 3rem;
    margin-right: 1rem;
}
.photos {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 1rem;
}
.photo {
  width: 20vw;
  height: 20vw;
  min-width: 240px;
  min-height: 240px;
  object-fit: cover;
  object-position: top;
}
.sub-title {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.sub-title i{
  margin-right: 1rem;
  color: #797979;
}
.shop-ad {
  display: flex;
  flex-direction: column;
  margin: auto 1rem;
}
.shop-button {
  display: inline-block;
  width: 20rem;
  font-size: 1.375rem;
  text-align: center;
  color: #432;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 1rem auto;
  transition: .3s;
}
.shop-button:hover {
  color: #fff;
  background: #fd9535;
  border: 1px solid #fd9535;
}
.access {
  display: flex;
  flex-direction: column;
}
.location-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.location-info .social-icons {
  width: 48%;
  margin-top: 0;
}
#about .social-icons {
  margin: auto;
}
#about .social-icon {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}
#about .tooltip {
  padding: 0.5rem 0.8rem;
  border-radius: 40px;
  font-size: 0.8rem;
}
.location-map {
  margin: 1rem 0;
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 縦横比16:9 */
  overflow: hidden;
}
.location-map iframe, .location-map object, .location-map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* STAFF
------------------------------ */
#staff i {
  margin-right: 1rem;
  color: #f8b500;
}
#staff .section-container {
  margin-left: 0;
  margin-right: 0;
}
.staff-image {
  width: 250px;
  height: 250px;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  object-fit: cover;
  filter: grayscale(80%);
}
.section-even .staff-image {
  border-radius: 80% 30% 50% 50%/50%;
}
#staff section {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}
.position {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* NEKOSALON
----------------------------- */
#nekosalon .icon {
  background-image: url("../images/nekosalon-logo.svg");
}
.neko-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.neko-image {
  width: 250px;
  height: 300px;
  object-fit: contain;
}
.neko-description {
  flex: 1;
  margin: auto 1rem;
}
.neko-description ul {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
}
.neko-description ul li {
  position: relative;
  padding: 0 0 0 1.5rem;
  margin: 0;
}
.neko-description ul li::before {
  position: absolute;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f1b0';
  color: #333c5e;
}
#nekosalon .shop-button {
  margin-bottom: 3rem;
}
.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shop {
  width: 48%;
  margin: 1rem auto;
}
.shop-name {
  font-size: 1.7rem;
  font-weight: normal;
  color: #333c5e;
}
.shop-images {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(160px,15vw));
  grid-template-rows: repeat(2, minmax(140px,13vw));
  width: 100%;
  margin: 0 auto;
}
.shop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rakuya-photo1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.rakuya-photo2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.rakuya-photo3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.abc-photo1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.abc-photo2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.abc-photo3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.shop-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.shop-hp {
  font-size: 1rem;
  width: 9rem;
  height: 30px;
  border-radius: 15px;
  background-color: #797979;
  color: #fff;
  margin: 0;
  }
.shop-hp:hover {
  opacity: 0.6;
}
.rakuya {
  width: 30px;
  height: 30px;
  font-size: 1rem;
  background-color: #797979;
  color: #fff;
}
.rakuya:hover {
  opacity: 0.6;
}
.fairy-title i {
  color: #e95295;
}
.fairy-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.fairy-description {
  flex: 1;
  margin: auto 1rem;
  height: 300px;
  background-image: url(../images/fairy-img1.jpg);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}
.fairy-photo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 1rem auto;
  grid-gap: 0.5rem;
}
#nekosalon .photo {
  width: 21vw;
  height: 19vw;
  min-width: 220px;
  min-height: 200px;
  object-position: center;
}

/* SMILE
----------------------------- */
#smile .icon {
  background-image: url("../images/smile.svg");
}
.smile-wrapper {
  width: 75%;
  margin-top: 1rem;
}
.line {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.last-line {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.line:before {
  content: '';
  position: absolute;
  left: 50%;
  display: inline-block;
  bottom: -15px;
  width: 5rem;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
}
#smile .line:before {
  background-color: #aacf53;/*線の色*/
}
#smile h3 {
  font-weight: normal;
  font-size: 1.7rem;
  color: #aacf53;
}
#smile {
  background-image: url("../images/smile-bg.svg");
  background-position: right bottom;
  background-size: 25%;
}

/* FAMILY
----------------------------- */
#family .icon {
  background-image: url("../images/family.svg");
}
#family .line:before {
  background-color: #f0908d;/*線の色*/
}
#family h3 {
  font-weight: normal;
  font-size: 1.7rem;
  color: #f0908d;
}
#family {
  background-image: url("../images/family-bg.svg");
  background-position: right bottom;
  background-size: 25%;
}
/* フッター
----------------------------- */
footer {
  background: #000;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/* モバイル版
--------------------------------*/
@media (max-width: 600px) {
  .page-title {
    font-size: 1.7rem;
  }

  /* HEADER */
.logo {
  display: none;
}
.main-nav {
    display: none;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}
.hamburger.change-color span{
  background: #432;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  display: block;
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  visibility: visible;
  opacity: 100;
}

  /* HOME */
  #home {
    height: 100vh;
    width: 100vw;
  }
  .top-logo {
    margin-top: 25vh;
  }
  .message {
    width: 96%;
    height: 12rem;
  }
  .section-container {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }
  .section-image {
    width: 5rem;
  }
  .section-container h2 {
    font-size: 1.7rem;
  }

  /* ABOUT */
  #header-about {
    height: 4rem;
  }
  #about h2 {
    font-size: 1.7rem;
  }
  #about h3 {
    font-size: 1.7rem;
  }
  .photos {
    gap: 0.2rem;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  }
  .photo {
    width: 43vw;
    height: 43vw;
    min-width: 145px;
    min-height: 145px;
  }
  .location-info {
    flex-direction: column;
  }
  #about .social-icons {
    width: 100%;
    margin-top: 1rem;
  }
  .location-map {
    padding-bottom: 75%;
  }

  /* STAFF */
  #staff h2 {
    font-size: 1.7rem;
  }

  /* NEKOSALON */
  #nekosalon h2 {
    font-size: 1.7rem;
  }
  #nekosalon h3 {
    font-size: 1.7rem;
  }
  .neko-container {
    flex-direction: column;
  }
  .neko-image {
    width: 120px;
    height: 150px;
    object-fit: contain;
  }
  .shop-container {
    flex-direction: column;
  }
  .shop-name {
    font-size: 1.5rem;
  }
  .shop {
    width: 100%;
  }
  .fairy-description p {
    display: block;
    width: auto;
    height: 10rem;
  }
  .fairy-photo {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 1rem;
  }
  #nekosalon .photo {
    width: 45vw;
    height: 45vw;
    min-width: 150px;
    min-height: 150px;
    object-position: center;
  }

  /* SMILE */
  #smile h2 {
    font-size: 1.7rem;
  }
  #smile h3 {
    font-size: 1.4rem;
  }
  .smile-wrapper {
    width: 100%;
  }
  #smile {
    background-image: none;
  }

  /* FAMILY */
  #family h2 {
    font-size: 1.7rem;
  }
  #family h3 {
    font-size: 1.4rem;
  }
  #family {
    background-image: none;
  }
}
